.main-content {
    background-color: #000;
    opacity: 0;
    transition: opacity 2s;
}
  
.main-content.visible {
    opacity: 1;
}
  

.main__header-info {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
 
.main__header-info.visible {
  opacity: 1;
}

.main__zero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
}

.main__header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: opacity 1s ease-in-out;
}

.main__header-info_pic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main__header-info_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.main__header-info_text h1 {
    margin: 0;
    font-size: 3rem;
}

.main__header-info_text h2 {
    margin: 0;
    font-size: 2rem;
}

.main__header-info_text p {
    margin: 0;
    font-size: 1.5rem;
}

.main__header-info_text button {
    margin-top: 1rem;
    align-self: center;
}


.main__header-info_pic img {
    max-width: 300px;
    border-radius: 10px;
}

.main__one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 5rem;
}

.main__one h1 {
    font-size: 3rem;
}

.main__one p {
    font-size: 1.5rem;
}

.main__two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main__two h1 {
    font-size: 3rem;
}

.main__two h2 {
    font-size: 2rem;
}

.main__two p {
    font-size: 1.5rem;
}

.main__header-info_example {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.delayer, .switcher {
    text-align: center;
    width: 50%;
    color: #fff;
    transition: color 1s ease-in-out;
}


.delayer p {
    margin: 1rem;
    color: #ffee00;
}

.switcher p {
    margin: 0 1rem;
    color: #5900ff;
}

.delayer .clickable {
    font-size: 1.5rem;
    margin: 1rem 0;
    cursor: pointer;
    color: #fff; 
    transition: color 0.3s;
}

.clickable.pressed {
    color: #ffee00;
}

.delayer .clickable:hover {
  color: #ffee008c; 
}

.switcher .clickable {
    font-size: 1.5rem;
    margin: 1rem 0;
    cursor: pointer;
    color: #fff; 
    transition: color 0.3s;
}

.clickable.clicked {
    color: #5900ff;
}

.switcher {
    height: 200px;
}

.switcher .clickable:hover {
  color: #4c00ff9d; 
}

.sample {
    color: #ffee00;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.sample.visible {
    opacity: 1;
}

#long-txt {
    margin: 1rem;
}

.main__three {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    height: 100vh;
}

.main__header-info_explane {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
}

.Fcode {
    color: #ffee00;
    width: 100%;
}

.Fcode p {
    font-size: 1.4rem;
    color: #fff;
}

.Scode {
    color: #5900ff;
    width: 100%;
    margin: 2rem 0;
}

.Scode p {
    font-size: 1.4rem;
    color: #fff;
}

.overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000cc;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; 
    padding: 2rem;
    opacity: 1; 
  }
  
.overlay.visible {
    opacity: 1; 
}

#fullscreen-image {
    max-width: 1000px;
    max-height: none;
}

.Small-screen {
    display: none;
}

.main__header-info_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.main__header-info_btns button {
    margin: 0;
}

.main__header-info_btns.visible {
    opacity: 1;
}

.main__header-info_btns.hidden {
    opacity: 0;
}

.main__four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main__header-info_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 2rem;
    margin-bottom: 1rem;
}

.main__header-info_skills h2 {
    font-size: 1.5rem;
    color: #ffbb00;
}

.main__header-info_skill ul {
    padding-left: 1.5rem;
    margin: 0;
}

.main__header-info_skill ul li {
    color: #fff;
    font-size: 1.3rem;
}

.main__header-info_skill {
    text-align: start;
}

.main__six {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main__six h1 {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

.main__header-info_projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.main__header-info_project {
    width: 25%;
}

.main__header-info_project h2 {
    text-align: center;
    font-size: 1.8rem;
    color: #ffee00;
}

.main__header-info_project p {
    margin: 0.5rem 0;
    margin-left: 0;
    font-size: 1.3rem;
    font-weight: 400;
}

.main__header-info_project a {
    color: #ffbb00;
    transition: color 0.2s ease-in;
    font-weight: 400;
}

.main__header-info_project a:hover {
    color: #664b01;
}

.main__seven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.main__seven h1 {
    font-size: 2.5rem;
}

.main__seven p {
    font-size: 1.5rem;
}

.main__seven a {
    color: #0019fd;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.main__seven a:hover {
    color: #0212a1;
}

#email {
    color: #ffbb00;
    transition: color 0.2s ease-in-out;
}

#email:hover {
    color: #664b01;
}

@media screen and (max-width: 900px) {
    .main__two {
        justify-content: space-between;
        height: fit-content;
        margin: 0 2rem;
    }

    .main__header-info_example {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .delayer {
        width: 90%;
    }

    .delayer p {
        margin: 2rem 0;
    }

    .switcher {
        width: 90%;
    }
    
    .Big-screen {
        display: none;
    }

    .Small-screen {
        display: inline;
    }

    .Small-screen a {
        text-decoration: none;
        color: #fff;
    }

    .main__four {
        justify-content: start;
    }

    .main__header-info_skills {
        flex-direction: column;
        align-items: center;
    }

    .main__header-info_skill{
        width: 100%;
        text-align: center;
    }

    .main__header-info_skill ul {
        list-style: none;
        padding: 0;
    }

    .main__six {
        margin: 0 2rem;
    }

    .main__header-info_projects {
       
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .main__header-info_project {
        width: 100%; 
        text-align: center;
    }

}

@media screen and (max-width: 700px) {
    .main__header-info_pic {
        flex-direction: column-reverse;
        width: 100%;
    }

    .main__six {
        justify-content: start;
    }

    .main__header-info_projects {
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }
}

@media screen and (max-width: 520px) {
    .main__header-navbar {
       gap: 0;
       width: 100%;
    }

    .main__one {
        justify-content: center;
        margin: 0 2rem;
    }

}

@media screen and (max-width: 350px) {
    .main__zero {
        height: fit-content;
    }

    .main__header-navbar {
        flex-direction: column-reverse;
        gap: 1rem;
        align-items: end;
    }

    #who {
        align-self: flex-start;
    }

    #animation {
        align-self: start;
        margin-left: 4.5rem;
    }

    #skills {
        align-self: center;
        margin-left: 5rem;
    }


    .main__header-info_text h1 {
        font-size: 2.5rem;
    }

    .main__header-info_pic img {
        max-width: 200px;
    }

    .main__one {
        justify-content: center;
        margin: 0 2rem;
    }

    .main__header-info_project h2 {
        font-size: 1.5rem;
    }

    .main__header-info_project p {
        font-size: 1.2rem;
    }
}