.main-content {
    background-color: #000;
    opacity: 0;
    transition: opacity 2s;
}
  
.main-content.visible {
    opacity: 1;
}
  
.main-content img {
    max-width: 300px;
    border-radius: 10px;
    opacity: 1;
}

.main__header-info {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    justify-content: center;
    margin: 0 5rem;
    gap: 50px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .main__header-info.visible {
    opacity: 1;
  }
  
  .main__header-info.hidden {
    opacity: 0;
  }
  

.main__header-info p, .main__header-info h2, .main__header-info h1 {
    margin: 0;
    text-align: start;
}

.main__header-info p, .main__header-info h2 {
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.main__header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.main__header-navbar.visible {
    opacity: 1;
}

.main__header-navbar.hidden {
    opacity: 0;
}

.main__header-info_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
}

.main__header-info button {
    margin-top: 1rem;
}

.main__header-info_pic {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.main__header-info_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__header-info_text button {
    align-self: center;
}

.main__header-info_first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    width: 100%;
} 

.main__header-info_first h2 {
    font-size: 2rem;
    margin-top: 4rem;
    margin-left: 0;
}

.main__header-info_first p {
    margin: 0 1rem;
    text-align: start;
}

.main__header-info_example {
    display: flex;
    justify-content: center;
}

.delayer, .switcher {
    text-align: center;
    padding: 0 1rem;
}

.delayer h3, .switcher h3 {
    font-size: 1.5rem;
    margin-top: 0;
}

.delayer p, .switcher p {
    margin: 0 1rem;
}

.main__header-info_explane {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    text-align: start;
}

.main__header-info_explane img {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin: 10px; /* Add some space between images */
}

.main__header-info_explane h3 {
    font-size: 1.2rem;
    margin: 0;
}

.main__header-info_explane p {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1rem;
}

.Fcode {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #ff0000;
    width: 50%;
}

.Scode {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: #00ff00;
    width: 50%;
}

.Fcode h3, .Scode h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    align-self: center;
}

.Fcode p, .Scode p {
    align-self: start;
}

.overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000cc;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; 
    padding: 2rem;
    opacity: 1; 
  }
  
.overlay.visible {
    opacity: 1; 
}

#fullscreen-image {
    width: fit-content;
    max-width: none;
    max-height: none;
}


.main__header-info_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.main__header-info_btns button {
    margin: 0;
}

.main__header-info_btns.visible {
    opacity: 1;
}

.main__header-info_btns.hidden {
    opacity: 0;
}

.main__header-info_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
}

.main__header-info_skill {
    text-align: start;
}

.main__header-info_projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    width: 100%;
}

.main__header-info_project h3 {
    text-align: center;
    font-size: 1.5rem;
}

.main__header-info_project p {
    margin-left: 0;
    font-size: 1.2rem;
    text-align: start;
}